* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: black;
  background-position: sticky;
  color: white;
  height: 70px;
  padding: 25px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
